.App {
  text-align: left;
}

.App-header {
  display: block;
  text-align: center;
}

.App-content {
  border: 1px solid blue;
  margin: auto;
  max-width: fit-content;
  padding: 1em;
}

/* Flexbox */

.row {
  display: flex;
}

.column {
  flex: auto;
  width: auto;
}

.column:not(:last-child) {
  padding-right: 1em;
}

.flex-end {
  align-self: flex-end;
}

.float-right {
  float: right;
}

/* HTML elements */

.button {
  border: none;
  background-color: blue;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-size: 1em;
  margin-top: 1em;
  padding: 1em 2em;
  text-align: center;
  text-decoration: none;
}

input[type=checkbox] {
  transform: scale(1.5);
}

.resize-none {
  resize: none;
}

/* Content */

.players-list {
  padding-bottom: 1em;
}

.team-name {
  font-weight: bold;
}
